body {
    padding-top: 80px;
}

.header-image {
    width: 100%;
    height: 27vh;
    background-image: url('../images/header.jpeg');
    background-size: cover;
    background-position: center;
}

.featurette-divider {
    margin: 5rem 0;
}

.nav-item img {
    height: 100%;
    /* or you can set a fixed height, e.g., 50px */
    max-height: 56px;
    /* This ensures that the image does not exceed the navbar height */
}

/* Ensure proper sizing of brand image within navbar constraints */
.nav-item {
    display: flex;
    /* This will align the image vertically */
    align-items: center;
    /* This will align the image vertically */
    height: 56px;
    /* Height of your navbar */
}

.social-icons a {
    margin-right: 15px;
    color: #fff;
}

.profile-pic {
    width: 100%;
    /* The image will take up 100% of the .col-md-3 width */
    border-radius: 50%;
    /* Makes the image round */
    object-fit: cover;
    /* Ensures the image covers the area without stretching */
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05rem;
}