<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="icon" href="../images/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="./main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="navbar-link" href="../index.html">
                            <img src="../images/logo.png" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resume.html">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="projects.html">Projects</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/michaelguldberg/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li class="nav-item">
                        <script type="text/javascript">
                            document.write('<a class="nav-link" href="mai' + 'lto:' + 'michael.guldberg4' + '@' + 'gmail.com' + '"><i class="fas fa-envelope"></i></a>');
                        </script>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/michaelguldberg" target="_blank"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-5">
        <h1 class="text-center mb-4">Data Science Projects</h1>
        <p class="text-center mb-5">This section features a collection of my personal data science projects. Below you can find short descriptions of each project along with links to the GitHub repositories where you can find the source code and more detailed information.</p>
        
        <div class="row">
            <div class="col-sm-6">
                <h4 class="text-center mb-4">Personal Projects</h4>
                <!-- Project 1 -->
                <div class="card mb-4" style="width: 100%;">
                    <a href="https://github.com/michaelguldberg/trading_bot">
                        <img src="../images/algorithmic.png" class="card-img-top" alt="Project Image 2">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Algotrading Bot</h5>
                        <p class="card-text">This project uses Random Forest Regression and Classification models to generate buy and sell signals for a given list of stocks. By leveraging the Alpaca API and Yahoo Finance stock data, this implementation is capable of placing buy and sell orders on any interval down to 1 minute. Please see the link below for backtesting results using a 1 day trading interval.</p>
                        <a href="./trading_tearsheet.html" class="btn btn-primary">View Backtesting Results</a>
                        <a href="https://github.com/michaelguldberg/trading_bot" class="btn btn-primary">View on GitHub</a>
                    </div>
                </div>

                <!-- Project 2 -->
                <div class="card mb-4" style="width: 100%;">
                    <a href="https://github.com/michaelguldberg/crypto_trading_bot">
                        <img src="../images/btc.jpeg" class="card-img-top" alt="Project Image 1">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">Crypto Trading Bot</h5>
                        <p class="card-text">This project uses Random Forest Classification models combined with crypto trading strategies to generate buy and sell signals for BTC/USD (or other crypto assets). By leveraging the Alpaca API and OKX websocket, this implementation is capable of placing buy and sell orders on 1 minute intervals.</p>
                        <a href="https://github.com/michaelguldberg/crypto_trading_bot" class="btn btn-primary">View on GitHub</a>
                    </div>
                </div>

                <!-- Project 3 -->
                <div class="card mb-4" style="width: 100%;">
                    <img src="../images/rockhounds2.jpeg" class="card-img-top" alt="Project Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Wellness Tracking | 2022 Baseball Season</h5>
                        <p class="card-text">In this project, I used a multitude of features to track my overall wellness during the 2022 MiLB season in Midland, TX. I then applied Random Forest Regression and Multivariate Linear Regression to predict my Whoop recovery score as well as assess feature importances. Important variables which had a positive relationship with my recovery were HRV, Hours of Sleep, Day of Week, Hydration, and Overall Positivity Score. Features with a negative relationship with recovery included Alcohol (# of drinks), Sick Feeling Score, and Soreness / Fatigue Score.</p>
                        <a href="../images/5-12-2022.pdf" class="btn btn-primary" download="2022_Wellness.pdf">Download Notebook PDF</a>
                        <a href="https://github.com/guldberg8/2022-Wellness" class="btn btn-primary">View on GitHub</a>
                    </div>
                </div>
                <div class="card mb-4" style="width: 100%;">
                    <img src="../images/pitches.png" class="card-img-top" alt="Project Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Pitch Recognition</h5>
                        <p class="card-text">In this project, I used kinematics equations in Python along with Trackman pitch data to create a tool that enables a hitter to visualize a pitcher's repertoire at any distance between the mound in the plate. This idea could potentially help hitters make earlier decisions on whether or not to swing. Please see the notebook PDF below.</p>
                        <a href="https://github.com/guldberg8/pitch_recognition/blob/main/Documents/Personal%20Projects/Pitch%20Recognition/Tunneling%20Function.ipynb" class="btn btn-primary">View on GitHub</a>
                    </div>
                </div>
                <div class="card mb-4" style="width: 100%;">
                    <img src="../images/cards.jpeg" class="card-img-top" alt="Project Image 3">
                    <div class="card-body">
                        <h5 class="card-title">"Acey Deucey" Betting Strategy</h5>
                        <p class="card-text">This project included creating a card counting and betting strategy and running simulations to predict expected returns for a common Minor League card game, Acey Deucey.</p>
                        <a href="https://github.com/guldberg8/Acey-Deucey" class="btn btn-primary">View on GitHub</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h4 class="text-center mb-4">Team Projects</h4>
                <div class="card mb-4" style="width: 100%;">
                    <img src="../images/bay_wheels.png" class="card-img-top" alt="Project Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Bay Wheels Visualizations and Analysis</h5>
                        <p class="card-text">
                            This was a group project with 
                            <a href="https://www.linkedin.com/in/austenlowitz/">Austen Lowitz</a>, 
                            <a href="https://www.linkedin.com/in/julia-zhao">Julia Zhao</a>, and 
                            <a href="https://www.linkedin.com/in/melissa-olivera">Melissa Olivera</a> 
                            for the data visualization course in the MIDS program. In this project, we created a flask app which features multiple visualizations using Tableau, D3.js, and Altair to provide a tool for visualizing Bay Wheels usage. Please visit the link below to see the final project!
                        </p>
                        <a href="https://apps-spring.ischool.berkeley.edu/BayWheels/" class="btn btn-primary">View Web Application</a>
                    </div>
                </div>
                <div class="card mb-4" style="width: 100%;">
                    <img src="../images/graph.png" class="card-img-top" alt="Project Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Graph Databases and Algorithms</h5>
                        <p class="card-text">
                            This was a group project with 
                            <a href="https://www.linkedin.com/in/sameer-karim/">Sameer Karim</a>, 
                            <a href="https://www.linkedin.com/in/jellomoat/">Stephanie Andrews</a>, and 
                            <a href="https://www.linkedin.com/in/richardpang3/">Ricky Pang</a> 
                            for the data engineering course in the MIDS program. In this project, we created a Neo4j graph database using BART data to address a hypothetical business problem. We also implemented graph algorithms to provide solutions for the hypothetical company. 
                        </p>
                        <a href="../images/205 Project 3 - Pang, Andrews, Karim, Guldberg.pdf" class="btn btn-primary" download="Graph_Algorithms.pdf">Download Final Presentation</a>
                    </div>
                </div>
                <div class="card mb-4" style="width: 100%;">
                    <img src="../images/real_estate.webp" class="card-img-top" alt="Project Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Housing Prices and School Quality Analysis</h5>
                        <p class="card-text">
                            This was a group project with 
                            <a href="https://www.linkedin.com/in/james-b-cisneros/">James Cisneros</a>, 
                            <a href="https://www.linkedin.com/in/joan-lee85/">Joan Lee</a>, and 
                            <a href="https://www.linkedin.com/in/marco-zanchetta-218294a3/">Marco Zanchetta</a> 
                            for the intro to data science programming course in the MIDS program. In this project, we used Python and many of its packages to merge housing data from Zillow with National Center for Education Statistic (NCES) data to analyze the relationship between home prices and school quality. Please see the link below for the final report.
                        </p>
                        <a href="../images/housing.pdf" class="btn btn-primary" download="Housing_and_Schools.pdf">Download Report PDF</a>
                    </div>
                </div>
                <div class="card mb-4" style="width: 100%;">
                    <img src="../images/voting.webp" class="card-img-top" alt="Project Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Analyzing Voting Difficulty</h5>
                        <p class="card-text">
                            This was a group project with 
                            <a href="https://www.linkedin.com/in/neeharika-kotte-530a7a13a/">Neeha Kotte</a>
                            and 
                            <a href="https://www.linkedin.com/in/sohailmkhan30/">Sohail Khan</a> 
                            for a statistics course during the MIDS program. In this project, we used American National Election Studies (ANES) data to analyze voting difficulty by political affiliation in R. Please see the link below for the final report.
                        </p>
                        <a href="../images/lab_1_solution.pdf" class="btn btn-primary" download="Analyzing_Voting_Difficulty.pdf">Download Final Report</a>
                    </div>
                </div>
                <div class="card mb-4" style="width: 100%;">
                    <img src="../images/wages.png" class="card-img-top" alt="Project Image 3">
                    <div class="card-body">
                        <h5 class="card-title">Examining the Wage Gap Across Generations</h5>
                        <p class="card-text">
                            This was a group project with 
                            <a href="https://www.linkedin.com/in/hong-hu-40b73a4b/">Hong Hu</a>, 
                            <a href="https://www.linkedin.com/in/joseph-eagan-331592152/">Joseph Eagan</a>, and 
                            <a href="https://www.linkedin.com/in/sohailmkhan30/">Sohail Khan</a> 
                            for the statistics course in the MIDS program. In this project, we analyzed the relationship between wage and other variables such as age, generation, race, and gender. We found statistically significant results across the board, indicating a need for further studies into potential causal relationships. Please see the link below for the final report PDF.
                        </p>
                        <a href="../images/lab_2.pdf" class="btn btn-primary" download="Wage_Gap.pdf">Download Final Report</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>